<mat-card class="applet-preview-panel">
  <mat-card-header>
    <img mat-card-avatar [src]="applet.imageUrl" />
    <mat-card-title> {{applet.name}} </mat-card-title>
  </mat-card-header>
  <p>{{applet.description}}</p>
  <mat-card-actions class="bottom-actions">
    <button mat-button class="small-button" [routerLink]="['/applets/'+applet._id+'/edit']">Config</button>
    <button mat-button color="primary" *ngIf="!installed" class="small-button" (click)="install()">Install</button>
    <!-- <button mat-button color="primary" *ngIf="installed" class="small-button" (click)="open()">Open</button> -->
  </mat-card-actions>
</mat-card>
