<md-card class="applet-preview-panel">
  <md-card-header>
    <img md-card-avatar [src]="applet.imageUrl" />
    <md-card-title> {{applet.name}} </md-card-title>
  </md-card-header>
  <p>{{applet.description}}</p>
  <md-card-actions class="bottom-actions">
    <button md-button color="primary" *ngIf="!installed" class="small-button" (click)="install()">Install</button>
    <!-- <button md-button color="primary" *ngIf="installed" class="small-button" (click)="open()">Open</button> -->
  </md-card-actions>
</md-card>
