.footer-container {
  height: 50px;
  background-color: #3a4a63;
  font-size: 20px;
  line-height: 40px;
}

.footer-container i {
  line-height: 50px;
  color: white;
  font-size: 30px;
  padding: 0 24px;
  cursor: pointer;
}

.active {
  background-color: #121c2d;
}
