.account-category-entry {
  max-width: 140px;
  cursor: pointer;
}

.account-category-icon {
  padding-top: 12px;
  height: 96px;
  width: 96px;
}

.account-category-icon img {
  max-width: 96px;
  max-height: 96px;
  height: auto;
  margin: auto;
  display: block;
}

.title {
  padding: 8px 0;
  text-align: center;
  font-size: 14px;
}

