<h2> Welcome to Nodeswork! </h2>

<form [formGroup]="rForm" (ngSubmit)="register()" class="auth-form">
  <mat-form-field class="auth-item-full-width">
    <input matInput placeholder="Email" type="email" formControlName="email" />
    <mat-error *ngIf="rForm.controls.email.hasError('pattern')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="rForm.controls.email.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="auth-item-full-width">
    <input matInput placeholder="Password" type="password" formControlName="password" />
    <mat-error *ngIf="rForm.controls.password.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="rForm.controls.password.hasError('minlength')">
      Password should contains at least 6 charactors
    </mat-error>
  </mat-form-field>
  <mat-error *ngIf="registerFailed;else policy" class="auth-form-group">
    <div *ngIf="userExists;else serverError">
      You already registered! Try <a [routerLink]="['/login']">Login</a> or <a
        href="/forgetPassword">Forget Password</a>
    </div>
    <ng-template #serverError>
      Server is not available, please try again later.
    </ng-template>
  </mat-error>
  <ng-template #policy>
    <mat-hint class="auth-form-group">
      By clicking the button below, you accept our
      <a href="/">Policy</a>.
    </mat-hint>
  </ng-template>
  <div class="auth-form-btn-group">
    <button mat-raised-button color="primary" type="submit" [disabled]="loading">Register</button>
    <a mat-raised-button [routerLink]="['/login']">Cancel</a>
  </div>
</form>
