<div class="timerange-control-panel" fxLayout="row" fxLayoutAlign="end center">
  <button mat-button [matMenuTriggerFor]="timerange">{{ timerangeHuman }} ({{ granularityHuman }})</button>
  <mat-menu #timerange>
    <button mat-menu-item (click)="searchTimerange()">Default</button>
    <button mat-menu-item (click)="searchTimerange(-3600000, 0, 60)">Last 1 hours (a minute)</button>
    <button mat-menu-item (click)="searchTimerange(-3600000 * 6, 0, 60 * 10)">Last 6 hours (10 minutes)</button>
    <button mat-menu-item (click)="searchTimerange(-3600000 * 12, 0, 60 * 15)">Last 12 hours (15 minutes)</button>
    <button mat-menu-item (click)="searchTimerange(-3600000 * 24, 0, 3600)">Last 24 hours (an hour)</button>
    <button mat-menu-item (click)="searchTimerange(-3600000 * 24 * 2, 0, 3600)">Last 2 days (an hour)</button>
    <button mat-menu-item (click)="searchTimerange(-3600000 * 24 * 7, 0, 3600)">Last 7 days (an hour)</button>
  </mat-menu>
</div>

<div *ngIf="nvData">
  <div *ngFor="let nvGroup of nvData.groups; let i = index" class="group">
    <h3>{{nvGroup.title}}</h3>
    <div fxLayout="row" fxLayoutGap="10px" class="dimension-panel">
      <div *ngFor="let dimension of nvGroup.dimensions; let j = index">
        <app-dropdown-multi-selection [(ngModel)]="nvGroup.dimensions[j]" (change)="toggleDimension(i, j)" ngDefaultControl></app-dropdown-multi-selection>
      </div>
    </div>
    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between center">
      <div class="graph" [fxFlex]="nvGraph.fxFlex" *ngFor="let nvGraph of nvGroup.graphs">
        <h4 class="title">{{nvGraph.title}}</h4>
        <nvd3 [options]="nvGraph.options" [data]="nvGraph.data"></nvd3>
      </div>
    </div>
  </div>
</div>
