<p>
  <label>Time Range:</label> {{ startHuman }} ~ {{ endHuman }} every {{ granularityHuman }}
</p>

<div *ngIf="nvData">
  <div *ngFor="let nvGroup of nvData.groups; let i = index" class="group">
    <h3>{{nvGroup.title}}</h3>
    <div fxLayout="row" fxLayoutGap="10px" class="dimension-panel">
      <div *ngFor="let dimension of nvGroup.dimensions; let j = index">
        <app-dropdown-multi-selection [(ngModel)]="nvGroup.dimensions[j]" (change)="toggleDimension(i, j)" ngDefaultControl></app-dropdown-multi-selection>
      </div>
    </div>
    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between center">
      <div class="graph" [fxFlex]="nvGraph.fxFlex" *ngFor="let nvGraph of nvGroup.graphs">
        <h4 class="title">{{nvGraph.title}}</h4>
        <nvd3 [options]="nvGraph.options" [data]="nvGraph.data"></nvd3>
      </div>
    </div>
  </div>
</div>
