<p>
  <label>Time Range:</label> {{ startHuman }} ~ {{ endHuman }} every {{ granularityHuman }}
</p>

<div *ngIf="nvData">
  <div *ngFor="let nvGroup of nvData.groups" class="group">
    <h3>{{nvGroup.title}}</h3>
    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between center">
      <div class="graph" [fxFlex]="nvGraph.fxFlex" *ngFor="let nvGraph of nvGroup.graphs">
        <h4 class="title">{{nvGraph.title}}</h4>
        <nvd3 [options]="nvGraph.options" [data]="nvGraph.data"></nvd3>
      </div>
    </div>
  </div>
</div>
