.online {
  color: #23dd58;
}

.offline {
  color: red;
}

.subtitle {
  font-size: 12px;
  color: #ddb123;
}

.error {
  padding: 4px 0;
  font-size: 12px;
  color: red;
}

.user-applet-card {
  max-width: 500px;
}

.card-action i {
  color: #555;
  cursor: pointer;
}

.card-action {
  border-top: solid 1px #ccc;
  margin: 0 2px;
}
