.account-entry {
  max-width: 140px;
  cursor: pointer;
  display: inline-block;
}

.account-icon {
  padding-top: 12px;
}

.account-icon img {
  width: 96px;
  height: 96px;
  margin: 0 auto;
  display: block;
}

.title {
  padding: 8px 0;
  text-align: center;
  font-size: 14px;
}

.disabled img {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
}

.disabled {
  color: #CCC;
}

