<app-page *ngIf="userApplet">
  <app-head-menu> Config: {{userApplet.applet.name}} </app-head-menu>

  <form [formGroup]="rForm" (ngSubmit)="save()" *ngIf="userApplet && devices" class="nw-form">
    <div class="nw-form-group">
      <mat-select placeholder="Run on Device" formControlName="device" class="full-width">
        <mat-option *ngFor="let device of devices" [value]="device._id">{{device.name}}</mat-option>
      </mat-select>
    </div>
    <div class="nw-form-group align-center">
      <mat-slide-toggle formControlName="enabled">Enabled</mat-slide-toggle>
    </div>

    <div class="nw-form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="!rForm.dirty">Save</button>
    </div>
  </form>

  <!-- <pre>{{userApplet | json}}</pre> -->
</app-page>
