<h2 *ngIf="userApplet">Config Applet - {{userApplet.applet.name}}</h2>

<form [formGroup]="rForm" (ngSubmit)="save()" *ngIf="userApplet && devices" class="nw-form">
  <div class="nw-form-group">
    <md-select placeholder="Run on Device" formControlName="device" class="full-width">
      <md-option *ngFor="let device of devices" [value]="device._id">{{device.name}}</md-option>
    </md-select>
  </div>
  <div class="nw-form-group align-center">
    <md-slide-toggle formControlName="enabled">Enabled</md-slide-toggle>
  </div>

  <div class="nw-form-actions">
    <button md-raised-button color="primary" type="submit" [disabled]="!rForm.dirty">Save</button>
  </div>
</form>

<!-- <pre>{{userApplet | json}}</pre> -->
