<app-page>
  <app-head-menu> My Devices </app-head-menu>
  <p>You have {{myDevices.length}} devices, {{connected}} of them are online.</p>
  <app-device-entry *ngFor="let device of myDevices" [device]="device" [routerLink]="['/devices/' + device._id]"></app-device-entry>

  <hr />
  <h3>Add New Device Instructions</h3>

  <ul>
    <li>
      step 1 - <a href="https://docs.docker.com/engine/installation/" target="_blank">Install Docker</a>
    </li>
    <li>
      step 2 - Install node <a href="https://docs.docker.com/engine/installation/" target="_blank">v8.7.0</a>
    </li>
    <li>
      step 3 - Install nam with command: <code>npm install -g @nodeswork/nam</code>
    </li>
    <li>
      step 4 - Link Device with command: <code>nam auth</code>
    </li>
  </ul>

  <app-footer-menu [active]="'device'"></app-footer-menu>
</app-page>
