<app-page>
  <app-head-menu> {{title}} </app-head-menu>
  <form [formGroup]="rForm" (ngSubmit)="save()" fxLayout="column" class="applet-edit-form">
    <mat-accordion>
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            Basic
          </mat-panel-title>
          <mat-panel-description>
            Name, description, etc.
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field class="full-width-field">
          <input matInput type="text" placeholder="Applet name" formControlName="name" />
          <mat-error *ngIf="rForm.controls.name.hasError('required')">
            Applet name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="rForm.controls.name.hasError('duplicate')">
            Applet already exists, try a different name
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-field form-group">
          <textarea matInput type="text" placeholder="Description" rows="8" formControlName="description"></textarea>
        </mat-form-field>
        <mat-action-row>
          <button mat-button color="primary" type="button" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            Applet
          </mat-panel-title>
          <mat-panel-description>
            Package, container, etc.
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field class="full-width-field">
          <input matInput type="text" placeholder="Package name" formControlName="packageName" />
        </mat-form-field>
        <mat-form-field class="full-width-field">
          <input matInput type="text" placeholder="Package version" formControlName="version" />
        </mat-form-field>
        <mat-action-row>
          <button mat-button color="warn" type="button" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" type="button" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
        <mat-expansion-panel-header (click)="fetchAppletStructure()">
          <mat-panel-title class="panel-title">
            Workers
          </mat-panel-title>
          <mat-panel-description>
            Config Workers
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="localApplet === 'running'">
          Local applet is detected. &nbsp;
          <button mat-raised-button color="primary" type="button" (click)="pullLocalAppletStructure()">Poll Config</button>
        </div>
        <div *ngIf="localApplet === 'not_detected'">
          Local applet is not running, you can paste the structure manually.
          <button mat-button type="button" (click)="showEditor=true">Show Editor</button>
        </div>
        <mat-form-field class="full-width" *ngIf="showEditor">
          <textarea matInput type="text" placeholder="Server Structure" rows="6" formControlName="sstruct"></textarea>
        </mat-form-field>
        <h4>Workers</h4>
        <div *ngFor="let worker of workers" fxLayout="row" fxLayoutGap="10px">
          <p>{{worker.displayName}}</p>
        </div>
        <h4>Accounts</h4>
        <div *ngFor="let c of accountCategorySelects" fxLayout="row" fxLayoutGap="10px">
          <mat-button-toggle [checked]="c.selected" (change)="toggleAccountCategory(c)"> {{c.category.name}} </mat-button-toggle>
          <mat-checkbox [disabled]="!c.selected" [checked]="c.optional" (change)="toggleAccountCategoryOptional(c)">Optional</mat-checkbox>
          <mat-checkbox [disabled]="!c.selected" [checked]="c.multiple" (change)="toggleAccountCategoryMultiple(c)">Multiple</mat-checkbox>
        </div>
        <div *ngIf="applet && applet.accounts">
          Accounts
        </div>
        <mat-action-row>
          <button mat-button color="warn" type="button" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" type="button" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            Tokens
          </mat-panel-title>
          <mat-panel-description>
            Retrieve applet tokens
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="applet && applet.tokens;else noToken">
          <mat-form-field class="full-width-field">
            <input matInput type="text" placeholder="Develop Token" readonly [value]="applet.tokens.devToken"/>
          </mat-form-field>
          <mat-form-field class="full-width-field">
            <input matInput type="text" placeholder="Production Token" readonly [value]="applet.tokens.prodToken"/>
          </mat-form-field>
        </div>
        <ng-template #noToken> There's no tokens generated yet. </ng-template>
        <mat-action-row>
          <button mat-button color="warn" type="button" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" type="button" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            Permissions
          </mat-panel-title>
          <mat-panel-description>Who can use your applet</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-select placeholder="Permissions" formControlName="permission" class="full-width-field">
          <mat-option [value]="'PRIVATE'">Private</mat-option>
          <mat-option [value]="'PUBLIC'">Public</mat-option>
        </mat-select>
        <mat-action-row>
          <button mat-button color="warn" type="button" (click)="prevStep()">Previous</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="full-width-field btn-group-field">
      <button mat-raised-button color="primary" type="submit" [disabled]="!rForm.dirty">Save</button>
      <a mat-raised-button [routerLink]="['']">Cancel</a>
    </div>
  </form>
</app-page>
