/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.full-width-field {
  width: 100%;
}

.btn-group-field {
  text-align: center;
  margin-top: 18px;
}

.form-group {
  margin: 0 0 12px 0;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.full-width {
  width: 100%;
}
