/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/nvd3/build/nv.d3.css';

.full-width-field {
  width: 100%;
}

.btn-group-field {
  text-align: center;
  margin-top: 18px;
}

.form-group {
  margin: 0 0 12px 0;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.full-width {
  width: 100%;
}

h2 {
  border-bottom: 1px solid #CCC;
  padding-bottom: 12px;
}

.nw-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.nw-form-actions {
  padding-top: 20px;
  text-align: center;
}

.nw-form-group {
  padding: 8px 0;
}

.align-center {
  text-align: center;
}
